.container {
  background-color: #4c4c6d;
  padding: 1rem;
  color: #fff;
  font-family: Poppins;
}

/* brand / logo */
.navbar__brand {
  font-weight: 500;
  margin-bottom: 1rem;
}

.navbar__list {
  list-style: none;
  text-decoration: none;
}

.li {
  text-decoration: none;
  color: #fff;
}

.navbar__items {
  margin-bottom: 1rem;
}

/* Media Queries */
@media (min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .navbar__brand {
    font-size: 30px;
    /* margin-top: 1rem; */
  }

  .navbar__list {
    display: flex;
    margin-top: -1rem;
  }

  .navbar__items {
    margin: 0 1rem;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0.9rem 2rem;
  }
}
