/* small screen */
.container {
    background-color: #086375;
    padding: 1rem;
    color: white;
}

.navbar__brand {
    margin-bottom: 1rem;
}

.navbar__list {
    list-style: none;
}

.navbar__item {
    margin-bottom: 1rem;
}

/* medium sreen */
@media(min-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar__brand {
        margin: 0;
    }

    .navbar__list {
        display: flex;
        flex-direction: row;
    }

    .navbar__item {
        margin: 0 1rem;
    }
}

/* large screen */
@media(min-width: 992px) {
    
}

