/* small screen */
.container {
    background-color: #086375;
    padding: 1rem;
    color: white;
    text-align: center;
}

.footer__title {
    margin-bottom: 1rem;
}

.footer__author {
    margin-bottom: 1rem;
}

/* medium screen */
@media(max-width: 768px) {
    
}

/* large screen */
@media(max-width: 992px) {
    
}